<form ng-submit="addUser()" method='POST'>
  First Name: <input required type="text" ng-model='user.first_name'> <br>
  Last Name: <input required type="text" ng-model='user.last_name'> <br>
  Email: <input required type="text" ng-model='user.email'> <br>
  password: <input required type="text" ng-model='user.password'> <br>
  Confirm Password: <input required type="text" name="confirmPassword"
  ng-model="user.confirmPassword"
  required
  compare-to="user.password" /> <br>
  <button type="submit">submit</button>
</form>
