<form ng-submit="editUser()" method='PUT'>
  First Name: <input required type="text" ng-model='user.first_name'> <br>
  Last Name: <input required type="text" ng-model='user.last_name'> <br>
  Email: <input required type="text" ng-model='user.email'> <br>
  <button type="submit">submit</button>
  <button ng-click='deleteUser()'>Delete</button>
</form>


<div ng-messages="registrationForm.confirmPassword.$error"
ng-messages-include="messages.html"></div>

<a ng-href="#/show/{{user.id}}">Back to User</a>
