<h2>Change Password</h2>

<form ng-submit="changePassword()" method='PUT'>
    <label for="password">Password</label> <br>
    <input required type="text" ng-model='user.password'>
  </div>
  <div class="form-group">
    <label for="password">Confirm Password</label> <br>
    <input required type="text" ng-model='user.passwordConfirm' compare-to='user.password'>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div ng-if='errorMessage'>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
      {{errorMessage}}
  </div>
</div>
