<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label for="first_name" class="control-label col-sm-2">First Name</label>
          <div class="col-sm-10">
            <input type="text" data-ng-model="user.first_name" placeholder="First Name" name="first_name" required="required" data-ng-minlength="1" data-ng-maxlength="20" autofocus="autofocus" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="last_name" class="control-label col-sm-2">Last Name</label>
          <div class="col-sm-10">
            <input type="text" data-ng-model="user.last_name" placeholder="Last Name" name="last_name" required="required" data-ng-minlength="1" data-ng-maxlength="20" autofocus="autofocus" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="control-label col-sm-2">Email</label>
          <div class="col-sm-10">
            <input type="text" data-ng-model="user.email" placeholder="Email" name="email" required="required" data-ng-minlength="1" autofocus="autofocus" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-sm-2">Password</label>
          <div class="col-sm-10">
            <input type="password" id="password" data-ng-model="user.password" placeholder="Password" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirm" class="control-label col-sm-2">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" id="passwordConfirm"  pw-check="password" data-ng-model="user.passwordConfirm" placeholder="Confirm Password" name="passwordConfirm" required="required" data-ng-minlength="5" data-ng-maxlength="60" class="form-control"/>
          </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>


</div>
